---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import PostCard from '../components/PostCard.astro';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 8);
---

<BaseLayout
  title="Retro Gaming Verse – Slow Play, Deep Experience"
  description="A personal journal about retro games and retro-style indie games, played slowly and thoughtfully."
>
  <h1>Latest Posts</h1>

  <section class="post-list">
    {posts.map((post) => {
      const slug = post.id.split('/').pop();
      const url = `/${slug}/`;

      return (
        <PostCard
          title={post.data.title}
          excerpt={post.data.description}
          image={post.data.heroImage}
          url={url}
        />
      );
    })}
  </section>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 3rem;
  }

  .post-list {
    max-width: 720px;
  }
</style>
