---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import PostCard from '../components/PostCard.astro';
import { categories } from '../config/categories';

const category = categories['retro-games'];

const posts = (await getCollection('blog'))
  .filter((post) => post.data.category === category.slug)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const toSlug = (post) => `/${post.id.split('/').pop()}/`;
---

<BaseLayout title={category.title}>
  <main class="category-wrapper">
    <header class="category-header">
      <h1>{category.title}</h1>
      <p class="category-description">{category.description}</p>
    </header>

    <section class="category-posts">
      {posts.map((post) => (
        <PostCard
          title={post.data.title}
          excerpt={post.data.description}
          image={post.data.heroImage}
          url={toSlug(post)}
        />
      ))}
    </section>
  </main>
</BaseLayout>
