---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
>
  <article class="post">
    {heroImage && (
      <div class="hero-image">
        <Image
          src={heroImage}
          width={1020}
          height={510}
          alt={title}
        />
      </div>
    )}

    <div class="prose">
      <header class="title">
        <div class="date">
          <FormattedDate date={pubDate} />

          {updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )}
        </div>

        <h1>{title}</h1>
        <hr />
      </header>

      <div class="content">
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>

<style>
  .post {
    margin-top: 2rem;
  }

  .hero-image {
    width: 100%;
    margin-bottom: 2rem;
  }

  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }

  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }

  .title {
    margin-bottom: 2.5rem;
    text-align: center;
    line-height: 1.2;
  }

  .title h1 {
    margin: 0.5em 0;
  }

  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
    font-size: 0.9rem;
  }

  .last-updated-on {
    font-style: italic;
    margin-top: 0.25rem;
  }

  .content :global(img) {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
    height: auto;
  }
</style>
